.sidenavdiv{
    
    outline: solid 1px blue;
    width: 150px;
    height: 1000px;
    background-color: #1D2125;
    
}
.slavediv{
    
    outline: solid 1px red;
    
}
.mainmaster{
    
  background-color: #282E33;
    
}
.welcomepage{
    
    background-color: #1b6d85;

    outline: solid 1px red;
    
}
.standardcontentpage{
    
    width: 700px;
    height: 1000px;
    outline: solid 1px red;
    background-color: #0f0f0f;
    display: inline-block;
    color: white;
}